@import '../../theme.scss';

.auth-wrapper {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}



// disabled this block since Login wasn't properly centering
amplify-authenticator {
    display: flex;
    // align-items: center;
    justify-content: center;
    padding-top: 8%;
}


  