$light-background-color: rgb(246, 234, 234);
$offwhite-background-color: rgb(231, 227, 227);

$primary-color: rgb(211, 114, 59);
$navbar-color: rgba(233, 139, 84, 0.774);
$complementary-color: rgb(59, 59, 116);
$secondary-color: rgb(50, 50, 219);

$light-text-color: rgb(248, 247, 247);
$dark-text-color: rgb(56, 54, 54);

